Repository cloudposse/packages, pull requests merged in 2019-11, with the labels that each got.

#251 upgrade to 0.3.2
  README.md
  docs/targets.md
  vendor/fargate/Makefile
  vendor/fargate/RELEASE
  vendor/fargate/VERSION
Labels: docs, github, vendor, vendor/fargate

#253 Add Flag to Enable/Disable Automatic Updates
  tasks/Makefile.package
  vendor/Makefile
  vendor/aws-okta/Makefile
  vendor/kubectl-1.13/Makefile
  vendor/kubectl-1.14/Makefile
  vendor/terraform-0.11/Makefile
  vendor/terraform-0.12/Makefile
Labels: scripts, vendor, vendor/aws-okta, vendor/kubectl-1.13, vendor/kubectl-1.14, vendor/terraform-0.11, vendor/terraform-0.12

#257 Upgrade figurine to 1.0.1
  README.md
  docs/targets.md
  vendor/figurine/Makefile
  vendor/figurine/VERSION
Labels: docs, vendor, vendor/figurine

#258 Add automatic branch cleanup
  .github/workflows/branch-cleanup.yml
Labels: github

#259 Add GitHub Action to Auto Assign PRs
  .github/auto_assign.yml
  .github/workflows/auto-assign.yml
Labels: github

#246 [chamber] Update chamber 2.7.2
  README.md
  docs/targets.md
  vendor/chamber/VERSION
Labels: docs, vendor, vendor/chamber

#249 Auto update packages
  .github/workflows/auto-update.yml
  Makefile
  apk/Dockerfile-3.10
  apk/Dockerfile-3.7
  apk/Dockerfile-3.8
  apk/Dockerfile-3.9
  bin/github-repo-metadata
  tasks/Makefile.package
  vendor/Makefile
  vendor/cloudflared/Makefile
  vendor/figurine/Makefile
  vendor/kops-1.12/Makefile
  vendor/retry/Makefile
  vendor/shellcheck/Makefile
Labels: github, scripts, vendor, vendor/cloudflared, vendor/figurine, vendor/kops-1.12, vendor/retry, vendor/shellcheck

#262 add sentry-cli
  .github/vendor.yml
  README.md
  docs/targets.md
  vendor/sentry-cli/DESCRIPTION
  vendor/sentry-cli/LICENSE
  vendor/sentry-cli/Makefile
  vendor/sentry-cli/RELEASE
  vendor/sentry-cli/VERSION
Labels: docs, github, vendor, vendor/sentry-cli

#264 Fix auto-updates using bot token
  .github/workflows/auto-assign.yml
  .github/workflows/auto-label.yml
  .github/workflows/auto-update.yml
  .github/workflows/branch-cleanup.yml
Labels: github

#268 Automatically update README nightly
  .github/workflows/auto-readme.yml
Labels: github

#272 Fix example
  README.md
  README.yaml
  tasks/Makefile.package
Labels: scripts

#276 Update actions
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/auto-assign.yml
  .github/auto-label-default.yml
  .github/auto-label.yml
  .github/workflows/auto-assign.yml
  .github/workflows/auto-greet.yml
  .github/workflows/auto-label.yml
  .github/workflows/auto-readme.yml
  Makefile
  vendor/Makefile
Labels: github, vendor
