Repository cloudposse/packages, pull requests merged in 2020-11, with the labels that each got.

#640 Update version-pinned packages
  vendor/helm2/VERSION
  vendor/helm3/VERSION
  vendor/helmfile/VERSION
  vendor/kubectl-1.17/VERSION
  vendor/kubectl-1.19/VERSION
  vendor/kubectl/VERSION
  vendor/terraform-0.13/VERSION
  vendor/terraform_0.13/VERSION
Labels: vendor, vendor/helm2, vendor/helm3, vendor/helmfile, vendor/kubectl, vendor/kubectl-1.17, vendor/kubectl-1.19, vendor/terraform-0.13, vendor/terraform_0.13

#651 Add grpcurl
  .github/auto-label.yml
  .github/workflows/grpcurl.yml
  README.md
  docs/badges.md
  vendor/grpcurl/DESCRIPTION
  vendor/grpcurl/LICENSE
  vendor/grpcurl/Makefile
  vendor/grpcurl/RELEASE
  vendor/grpcurl/VERSION
Labels: docs, github, vendor, vendor/grpcurl

#669 Update Teleport to 4.2.12
  README.md
  docs/badges.md
  vendor/teleport/VERSION
Labels: docs, vendor, vendor/teleport

#680 Remove global code owners
  .github/CODEOWNERS
Labels: github

#681 Validate Codeowners file
  .github/CODEOWNERS
  .github/workflows/validate-codeowners.yml
Labels: github

#691 Make auto-update its own workflow
  .github/CODEOWNERS
  .github/Makefile
  .github/auto-assign.yml
  .github/auto-update-template.yml
  .github/workflows/auto-assign.yml
  .github/workflows/auto-update-packages.yml
  .github/workflows/rebuild-readme-command.yml
  .github/workflows/slash-command-dispatch.yml
  .github/workflows/validate-codeowners.yml
  bin/pinned-package-sanity-check
  tasks/Makefile.package
Labels: github, scripts

#700 Include release number in package file name
  tasks/Makefile.deb
  tasks/Makefile.rpm
Labels: scripts

#692 terraform-0.14 package added
  .github/Makefile
  .github/auto-label.yml
  .github/workflows/auto-update-packages.yml
  .github/workflows/terraform-0.14.yml
  .gitignore
  Makefile
  README.md
  apk/templates/APKBUILD.github-binary
  docs/badges.md
  docs/targets.md
  tasks/Makefile.apk
  tasks/Makefile.package
  vendor/terraform-0.14/DESCRIPTION
  vendor/terraform-0.14/LICENSE
  vendor/terraform-0.14/Makefile
  vendor/terraform-0.14/RELEASE
  vendor/terraform-0.14/VERSION
  vendor/terraform-0.14/terraform-0.14.post-deinstall
  vendor/terraform-0.14/terraform-0.14.post-install
Labels: github, scripts

#701 [mergify] Update rules for matrix build, fix non-semver packages
  .github/CODEOWNERS
  .github/mergify.yml
  Makefile
  vendor/cloudposse-atlantis/Makefile
  vendor/gosu/Makefile
  vendor/gosu/RELEASE
  vendor/gosu/VERSION
  vendor/lazydocker/Makefile
  vendor/lazydocker/RELEASE
  vendor/lazydocker/VERSION
  vendor/lectl/Makefile
  vendor/lectl/RELEASE
  vendor/lectl/VERSION
Labels: github, vendor/cloudposse-atlantis, vendor/gosu, vendor/lazydocker, vendor/lectl

#711 Commit auto-generated updates from #701
  .github/mergify.yml
  .github/workflows/auto-update-packages.yml
  README.md
  docs/badges.md
  docs/targets.md
Labels: github

#716 Add spotctl
  .github/auto-label.yml
  .github/workflows/auto-update-packages.yml
  README.md
  docs/badges.md
  docs/targets.md
  vendor/spotctl/DESCRIPTION
  vendor/spotctl/LICENSE
  vendor/spotctl/Makefile
  vendor/spotctl/RELEASE
  vendor/spotctl/VERSION
Labels: github, vendor/spotctl
