Repository cloudposse/packages, pull requests merged in 2020-01, with the labels that each got.

#313 Add alpine:3.11 support
  apk/Dockerfile-3.11
  codefresh/apk.yml
  tasks/Makefile.apk
  vendor/teleport/Makefile
Labels: codefresh, scripts, vendor, vendor/teleport

#309 Add `slash-command-dispatch` and `rebuild-readme-command` workflows
  .github/workflows/rebuild-readme-command.yml
  .github/workflows/slash-command-dispatch.yml
Labels: github

#323 Add `dpkg` dependency for helm alternatives
  vendor/helm/Makefile
  vendor/helm2/Makefile
  vendor/helm3/Makefile
Labels: vendor, vendor/helm, vendor/helm2, vendor/helm3

#294 [vert] Added
  .github/auto-label.yml
  README.md
  docs/targets.md
  vendor/vert/DESCRIPTION
  vendor/vert/LICENSE
  vendor/vert/Makefile
  vendor/vert/RELEASE
  vendor/vert/VERSION
Labels: docs, github, vendor, vendor/vert
