Repository cloudposse/packages, pull requests merged in 2020-10, with the labels that each got.

#420 Add mergify configuration
  .github/mergify.yml
Labels: github

#421 Upgrade docker action
  .github/workflows/docker.yml
Labels: github

#422 Update codeowners and mergify config
  .github/CODEOWNERS
  .github/mergify.yml
Labels: github

#423 Add conftest package
  .github/auto-label.yml
  .github/workflows/conftest.yml
  README.md
  docs/badges.md
  vendor/conftest/DESCRIPTION
  vendor/conftest/LICENSE
  vendor/conftest/Makefile
  vendor/conftest/RELEASE
  vendor/conftest/VERSION
Labels: docs, github, vendor, vendor/conftest

#609 Add `vendir` package
  .github/auto-label.yml
  .github/workflows/vendir.yml
  Makefile
  README.md
  docs/badges.md
  docs/targets.md
  vendor/vendir/DESCRIPTION
  vendor/vendir/LICENSE
  vendor/vendir/Makefile
  vendor/vendir/RELEASE
  vendor/vendir/VERSION
Labels: docs, github, vendor, vendor/vendir
