Repository cloudposse/packages, pull requests merged in 2020-04, with the labels that each got.

#349 Update codefresh to `0.50.1`
  vendor/codefresh/VERSION
Labels: vendor, vendor/codefresh

#351 [teleport] Update 4.2.2 -> 4.2.8
  Dockerfile
  vendor/teleport/VERSION
Labels: docker, vendor, vendor/teleport

#353 Update README
  README.md
  docs/targets.md
Labels: docs

#354 Update gh to 0.6.4
  vendor/gh/VERSION
Labels: vendor, vendor/gh

#357 sentinel auto update script fix
  tasks/Makefile.package
  vendor/sentinel/Makefile
Labels: scripts, vendor, vendor/sentinel

#359 auto aupdate disabled for sentinel
  vendor/sentinel/Makefile
Labels: vendor, vendor/sentinel

#361 [popeye] download url fix
  vendor/popeye/Makefile
  vendor/popeye/VERSION
Labels: vendor, vendor/popeye

#367 Add variant2 support
  .github/auto-label.yml
  README.md
  docs/targets.md
  tasks/Makefile.package
  vendor/variant2/DESCRIPTION
  vendor/variant2/LICENSE
  vendor/variant2/Makefile
  vendor/variant2/RELEASE
  vendor/variant2/VERSION
Labels: docs, github, scripts, vendor, vendor/variant2
