Repository cloudposse/packages, pull requests merged in 2021-01, with the labels that each got.

#846 Fix `make install` for MacOS
  bin/package-filter
  vendor/teleport-4.2/Makefile
  vendor/teleport-4.3/Makefile
  vendor/teleport-4.4/Makefile
  vendor/teleport-5.0/Makefile
  vendor/teleport/Makefile
Labels: scripts

#847 Fix author of auto-updates
  .github/auto-update-template.yml
  .github/workflows/auto-update-packages.yml
Labels: github

#852 Adding yajsv to vendor packages
  .github/auto-label.yml
  .github/workflows/auto-update-packages.yml
  .github/workflows/yajsv.yml
  README.md
  apk/templates/APKBUILD.github-binary
  docs/badges.md
  docs/targets.md
  vendor/yajsv/DESCRIPTION
  vendor/yajsv/LICENSE
  vendor/yajsv/Makefile
  vendor/yajsv/RELEASE
  vendor/yajsv/VERSION
Labels: enhancement, github, vendor/yajsv

#871 adding atmos
  .github/auto-label.yml
  .github/workflows/atmos.yml
  .github/workflows/auto-update-packages.yml
  README.md
  docs/badges.md
  docs/targets.md
  vendor/atmos/DESCRIPTION
  vendor/atmos/LICENSE
  vendor/atmos/Makefile
  vendor/atmos/RELEASE
  vendor/atmos/VERSION
Labels: enhancement, github, vendor/atmos
