Repository cloudposse/packages, pull requests merged in 2021-02, with the labels that each got.

#887 add turf
  .github/Makefile
  .github/auto-label.yml
  .github/workflows/auto-update-packages.yml
  .github/workflows/turf.yml
  README.md
  README.yaml
  docs/badges.md
  docs/targets.md
  vendor/turf/LICENSE
  vendor/turf/VERSION
Labels: github, vendor/turf

#915 Switch to bash
  README.md
  README.yaml
  docs/badges.md
  docs/targets.md
Labels: bug

#874 Add some FAQs
  README.md
  README.yaml
  docs/faq.md
Labels: docs

#925 removing typo and improving verbiage of faq sections
  README.md
  README.yaml
  docs/badges.md
  docs/faq.md
  docs/targets.md
Labels: bug

#961 Jsonnet added workflows
  .github/auto-label.yml
  .github/workflows/auto-update-packages.yml
  .github/workflows/go-jsonnet.yml
  README.md
  docs/badges.md
  docs/targets.md
Labels: github
