Repository cloudposse/packages, pull requests merged in 2022-01, with the labels that each got.

#1994 Add tfsec
  .github/auto-label.yml
  .github/workflows/auto-update-packages.yml
  .github/workflows/tfsec.yml
  README.md
  docs/badges.md
  docs/targets.md
  vendor/tfsec/DESCRIPTION
  vendor/tfsec/LICENSE
  vendor/tfsec/Makefile
  vendor/tfsec/RELEASE
  vendor/tfsec/VERSION
Labels: github, vendor/tfsec

#2045 Add kubectl-1.22, update builder OS versions
  .github/auto-label.yml
  .github/workflows/auto-update-packages.yml
  README.md
  apk/Dockerfile-alpine
  deb/Dockerfile.stable-slim
  docs/badges.md
  docs/targets.md
  rpm/Dockerfile.centos8
  vendor/kubectl-1.20/DESCRIPTION
  vendor/kubectl-1.21/DESCRIPTION
  vendor/kubectl-1.22/DESCRIPTION
  vendor/kubectl-1.22/LICENSE
  vendor/kubectl-1.22/Makefile
  vendor/kubectl-1.22/RELEASE
  vendor/kubectl-1.22/VERSION
  vendor/kubectl-1.22/kubectl-1.22.post-deinstall
  vendor/kubectl-1.22/kubectl-1.22.post-install
Labels: github, docker, vendor/kubectl-1.20, vendor/kubectl-1.21, vendor/kubectl-1.22

#2052 packages: add amazon-ecr-credential-helper
  .github/auto-label.yml
  .github/workflows/amazon-ecr-credential-helper.yml
  .github/workflows/auto-update-packages.yml
  README.md
  docs/badges.md
  docs/targets.md
  vendor/amazon-ecr-credential-helper/DESCRIPTION
  vendor/amazon-ecr-credential-helper/LICENSE
  vendor/amazon-ecr-credential-helper/Makefile
  vendor/amazon-ecr-credential-helper/RELEASE
  vendor/amazon-ecr-credential-helper/VERSION
Labels: github, vendor/amazon-ecr-credential-helper
