Repository cloudposse/packages, pull requests merged in 2024-01, with the labels that each got.

#4342 Add banner & update readme
  .github/banner.png
  .github/workflows/auto-update-packages.yml
  Makefile
  README.md
  README.yaml
  docs/badges.md
  docs/targets.md
  tasks/Makefile.package
  vendor/gonsul/Makefile
  vendor/gotop/Makefile
  vendor/rancher/Makefile
  vendor/terraform-0.14/Makefile
  vendor/terraform-0.15/Makefile
  vendor/yajsv/Makefile
Labels: github, scripts

#4351 Update auto-update-packages workflow actions to Node 20
  .github/workflows/auto-update-packages.yml
Labels: github

#4355 Add VERSIONS-SKIP to handle projects stuck on bad latest versions
  tasks/Makefile.package
  vendor/rakkess/VERSIONS-SKIP
  vendor/terraform-module-versions/VERSIONS-SKIP
Labels: scripts

#4357 Update auto-update-packages workflow TEMPLATE actions to Node 20
  .github/auto-update-template.yml
Labels: bug, github
